.container{
    text-align: center;
}

  
 ul#weightlifting {
 list-style-type: none;
 }
.canvas
{
  border: 3px solid #C0C0C0 !important;
    
    
}
body{
  background-color:gray;
  text-align: center;
}
  img
{
    width:100%;
    
}

